In [58]:
# Creat a set with initial values 
s = {1,2,'3',4,5,3}
print(s)

{1, 2, 3, '3', 5, 4}

In [59]:
s = {'apple','orange','banana'}
print(s)

{'apple', 'orange', 'banana'}

In [60]:
# use set() to convert a list to a set 
s = set([1,2,3,4,1,2,3])
print (s)
print(len(s))

{1, 2, 3, 4}
4

In [61]:
#Thêm 
name = {"jonh","Mary","peter"}
name.add("Any")
print(name)

{'jonh', 'Any', 'peter', 'Mary'}

In [62]:
name.remove("Any")

In [63]:
# xóa
name.discard("Mary")
print(name)

{'jonh', 'peter'}

In [64]:
name = {'john','Mary','Peter'}
name2 = {'john','Mary','Peter'}
print(name2.issubset(name))

True

In [65]:
s1 = {1,2,3,4,5}
s2 = {1,2,6,3,8}
union_set = s1.union(s2)
print(union_set)
union_set = s1 | s2 
print(union_set)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}

In [66]:
s1 = {1,2,3,4,5}
s2 = {1,2,6,3,8}
intersection = s1.intersection(s2)
print(intersection)
intersection = s1 & s2
print(intersection)
# INNER JOIN

{1, 2, 3}
{1, 2, 3}

In [67]:
difference = s1.difference(s2)
print(difference)
difference = s1 - s2
difference

{4, 5}

{4, 5}

In [78]:
s1 = {1,2,3}
s2 = {1,2,3,4,5,1}
print(s1.issubset(s2))

True

In [68]:
def ex2(list1,list2):
    intersection = set(list1) & set(list2)
    return list(set(intersection))
l1 = [1,2,4,5,1,3,4,5,6]
l2 =  [1,6,8,9]
print(ex2(l1,l2))

[1, 6]

In [69]:
inforDict = {
    0: {'Name': 'Hà Quang Tuấn',
        'Phone': '0937623590',
        'gender': 'Nam',
        'Age': 32,
        'birthPlace': 'Thái Bình',
        'birthDate': '05/01/1990',
        'email': '21093283@vnu.edu.vn'},
    1: {'Name': 'Trần Hải Nam',
        'Phone': '0981344528',
        'gender': 'Nam',
        'Age': 31,
        'birthPlace': 'Hải Dương',
        'birthDate': '20/01/1991',
        'email': '21039231@vnu.edu.vn'},
    2: {'Name': 'Dương Trung Đức',
        'Phone': '0917613311',
        'gender': 'Nam',
        'birthPlace': 'Hà Nội',
        'birthDate': '25/05/1990',
        'email': '21083823@vnu.edu.vn'},
    3: {'Name': 'Đinh Lê Đức Nam',
        'Phone': '0978971659',
        'gender': 'Nam',
        'birthPlace': 'Tuyên Quang',
        'birthDate': '18/10/2003',
        'email': '21070878@vnu.edu.vn'},
    4: {'Name': 'Nguyễn Thị Hương',
        'Phone': '0987654321',
        'gender': 'Nữ',
        'Age': 28,
        'birthPlace': 'Hà Nội',
        'birthDate': '10/07/1995',
        'email': '21012345@vnu.edu.vn'},
    5: {'Name': 'Trần Văn A',
        'Phone': '0912345678',
        'gender': 'Nam',
        'Age': 35,
        'birthPlace': 'Hồ Chí Minh',
        'birthDate': '15/03/1988',
        'email': '21067890@vnu.edu.vn'},
    6: {'Name': 'Nguyễn Thị B',
        'Phone': '0965432198',
        'gender': 'Nữ',
        'Age': 29,
        'birthPlace': 'Đà Nẵng',
        'birthDate': '02/09/1992',
        'email': '21054321@vnu.edu.vn'},
    7: {'Name': 'Lê Văn C',
        'Phone': '0943216789',
        'gender': 'Nam',
        'Age': 27,
        'birthPlace': 'Nghệ An',
        'birthDate': '12/11/1994',
        'email': '21098765@vnu.edu.vn'},
    8: {'Name': 'Phạm Thị D',
        'Phone': '0932167890',
        'gender': 'Nữ',
        'birthPlace': 'Hải Phòng',
        'birthDate': '28/06/1993',
        'email': '21023456@vnu.edu.vn'}
}

In [70]:
inforDict = {
    0: {'Name': 'Hà Quang Tuấn',
        'Phone': '0937623590',
        'gender': 'Nam',
        'Age': 32,
        'birthPlace': 'Thái Bình',
        'birthDate': '05/01/1990',
        'email': '21093283@vnu.edu.vn'},
    1: {'Name': 'Trần Hải Nam',
        'Phone': '0981344528',
        'gender': 'Nam',
        'Age': 31,
        'birthPlace': 'Hải Dương',
        'birthDate': '20/01/1991',
        'email': '21039231@vnu.edu.vn'},
    2: {'Name': 'Dương Trung Đức',
        'Phone': '0917613311',
        'gender': 'Nam',
        'birthPlace': 'Hà Nội',
        
        'birthDate': '25/05/1990',
        'email': '21083823@vnu.edu.vn'},
    3: {'Name': 'Đinh Lê Đức Nam',
        'Phone': '0978971659',
        'gender': 'Nam',
        'birthPlace': 'Tuyên Quang',
        'birthDate': '18/10/2003',
        'email': '21070878@vnu.edu.vn'}

}

In [71]:
l1 = list(inforDict[0])
l1

['Name', 'Phone', 'gender', 'Age', 'birthPlace', 'birthDate', 'email']

In [72]:
inforDict = {}

In [73]:

inforDict[1] = {'Name': 'Nguyễn Văn A',
               'Phone': '0987654321',
               'gender': 'Nam',
               'Age': 25,
               'birthPlace': 'Hà Nội',
               'birthDate': '10/05/1998'}

In [74]:
inforDict

{1: {'Name': 'Nguyễn Văn A',
  'Phone': '0987654321',
  'gender': 'Nam',
  'Age': 25,
  'birthPlace': 'Hà Nội',
  'birthDate': '10/05/1998'}}