In [1]:
# Creat a set with initial values 
s = {1,2,'3',4,5}
print(s)

{1, 2, '3', 4, 5}

In [2]:
s = {'apple','orange','banana'}
print(s)

{'apple', 'orange', 'banana'}

In [6]:
# use set() to convert a list to a set 
s = set([1,2,3,4,1,2,3])
print (s)
print(len(s))

{1, 2, 3, 4}
4

In [24]:
name = {"jonh","Mary","peter"}
name.add("Any")
print(name)
name.discard("Mary")
print(name)
name.clear()
name

{'jonh', 'Any', 'Mary', 'peter'}
{'jonh', 'Any', 'peter'}

set()

In [25]:
name = {'john','Mary','Peter'}
name2 = {'john','Mary','Peter'}
print(name2.issubset(name))

True

In [30]:
s1 = {1,2,3,4,5}
s2 = {1,2,6,3,8}
union_set = s1.union(s2)
print(union_set)
union_set = s1 | s2 
print(union_set)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}

In [32]:
intersection = s1.intersection(s2)
print(intersection)
intersection = s1 & s2
print(intersection)
# INNER JOIN

{1, 2, 3}
{1, 2, 3}

In [34]:
difference = s1.difference(s2)
print(difference)
difference = s1 - s2
difference

{4, 5}

{4, 5}

In [36]:
def ex2(list1,list2):
    intersection = set(list1) & set(list2)
    return list(set(intersection))
l1 = [1,2,4,5,1,3,4,5,6]
l2 =  [1,6,8,9]
print(ex2(l1,l2))

[1, 6]

In [63]:
inforDict = {
    0: {'Name': 'Hà Quang Tuấn',
        'Phone': '0937623590',
        'gender': 'Nam',
        'Age': 32,
        'birthPlace': 'Thái Bình',
        'birthDate': '05/01/1990',
        'email': '21093283@vnu.edu.vn'},
    1: {'Name': 'Trần Hải Nam',
        'Phone': '0981344528',
        'gender': 'Nam',
        'Age': 31,
        'birthPlace': 'Hải Dương',
        'birthDate': '20/01/1991',
        'email': '21039231@vnu.edu.vn'},
    2: {'Name': 'Dương Trung Đức',
        'Phone': '0917613311',
        'gender': 'Nam',
        'birthPlace': 'Hà Nội',
        
        'birthDate': '25/05/1990',
        'email': '21083823@vnu.edu.vn'},
    3: {'Name': 'Đinh Lê Đức Nam',
        'Phone': '0978971659',
        'gender': 'Nam',
        'birthPlace': 'Tuyên Quang',
        'birthDate': '18/10/2003',
        'email': '21070878@vnu.edu.vn'}

}

In [81]:
inforDict = {
    4: {'Name': 'Hà Quang Tuấn',
        'Phone': '0937623590',
        'gender': 'Nam',
        'Age': 32,
        'birthPlace': 'Thái Bình',
        'birthDate': '05/01/1990',
        'email': '21093283@vnu.edu.vn'}}
inforDict[4]['Address'] = 'Dinh Le Duc Nam'

In [72]:
print(inforDict)
del inforDict[4]['Address']

{4: {'Name': 'Hà Quang Tuấn', 'Phone': '0937623590', 'gender': 'Nam', 'Age': 32, 'birthPlace': 'Thái Bình', 'birthDate': '05/01/1990', 'email': '21093283@vnu.edu.vn', 'Address': 'Dinh Le Duc Nam'}}

In [82]:
removed  = inforDict[4].pop('Address')
print(inforDict[4])
dict.clear()

{'Name': 'Hà Quang Tuấn', 'Phone': '0937623590', 'gender': 'Nam', 'Age': 32, 'birthPlace': 'Thái Bình', 'birthDate': '05/01/1990', 'email': '21093283@vnu.edu.vn'}